@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;600;700&family=Roboto:ital,wght@1,300&display=swap");
.header {
  height: 100vh;
  min-height: 1000px;
  background: url(../img/picture.jpg) center/cover no-repeat;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70px;
}

.navigation a {
  color: #fff;
}

.navigation .logo {
  font-size: 30px;
  font-weight: 700;
}

.navigation .nav {
  text-align: end;
  margin-left: auto;
}

.navigation .nav__link {
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition: color ease .5s, border-bottom ease .3s;
  transition: color ease .5s, border-bottom ease .3s;
}

.navigation .nav__link:hover {
  color: #fce38a;
  border-bottom: 3px solid #fce38a;
}

.navigation .link {
  padding: 5px;
  margin-left: 2vw;
}

.navigation .link__img {
  -webkit-transition: -webkit-transform ease .5s;
  transition: -webkit-transform ease .5s;
  transition: transform ease .5s;
  transition: transform ease .5s, -webkit-transform ease .5s;
}

.navigation .link__img:hover {
  -webkit-transform: scale(115%);
          transform: scale(115%);
}

.navigation .hamburger-menu {
  display: none;
}

.navigation #menu__toggle {
  opacity: 0;
}

.navigation #menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navigation #menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.navigation #menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.navigation #menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

.navigation .menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 22px;
  right: 17px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 50;
}

.navigation .menu__btn > span,
.navigation .menu__btn > span::before,
.navigation .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 2px rgba(243, 129, 129, 0.5);
          box-shadow: 0 0 0 2px rgba(243, 129, 129, 0.5);
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.navigation .menu__btn > span::before {
  content: '';
  top: -8px;
}

.navigation .menu__btn > span::after {
  content: '';
  top: 8px;
}

.navigation .menu__box {
  display: block;
  position: fixed;
  z-index: 1;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: rgba(252, 227, 138, 0.7);
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.navigation .menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.navigation .menu__item:hover {
  background-color: #f38181;
}

@media screen and (max-width: 768px) {
  .header {
    min-height: 800px;
  }
  .navigation {
    padding-right: 50px;
  }
  .navigation .nav {
    display: none;
  }
  .navigation .hamburger-menu {
    display: block;
  }
  .navigation .cart {
    margin-left: auto;
  }
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.intro__text {
  font-family: 'Kaushan Script', cursive;
  font-size: calc(24px + 50 * (100vw / 1200));
  margin-bottom: 2vh;
}

.intro__title {
  font-size: calc(24px + 110 * (100vw / 1200));
  line-height: 90%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 6vh;
  padding: 0 10px;
  padding-bottom: 6vh;
  position: relative;
}

.intro__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
}

.intro__btn {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: 3px solid #fff;
  padding: 15px 3em;
  -webkit-transition: ease .5s;
  transition: ease .5s;
}

.intro__btn:hover {
  background: #fff;
  color: #fce38a;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slider__item {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  width: 100%;
  max-width: calc((100% - 90px) / 4);
  min-width: 138px;
  padding: 25px 0;
  border-top: 3px solid #fff;
  opacity: .7;
  position: relative;
}

.slider__item:hover {
  opacity: 1;
}

.slider__number {
  font-size: 24px;
  font-weight: 700;
}

.slider .active {
  opacity: 1;
}

.slider .active:before {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background: #f38181;
  position: absolute;
  top: -3px;
  left: 0;
}

@media screen and (max-width: 600px) {
  .slider__item {
    max-width: calc((100% - 45px) / 2);
    padding: 10px 0;
  }
  .slider .active::before {
    width: 50px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

body {
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-suptitle {
  font-size: 24px;
  font-family: 'Kaushan Script', cursive;
  margin-bottom: 10px;
}

.section-title {
  font-size: 30px;
  padding-bottom: 35px;
  margin-bottom: 40px;
  position: relative;
  text-transform: uppercase;
}

.section-title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  margin: 0 auto;
  background: #f08b8b;
  position: absolute;
  bottom: 0;
  left: 48%;
}

.section__text {
  color: #999999;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 100px;
}

.about {
  text-align: center;
  padding: 90px 0;
}

.about__card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(225px, 1fr))[3];
      grid-template-columns: repeat(3, minmax(225px, 1fr));
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.about .item-card {
  min-height: 250px;
  -webkit-box-shadow: 0 0 #95e1d3;
          box-shadow: 0 0 #95e1d3;
  -webkit-transition: ease .3s;
  transition: ease .3s;
  position: relative;
}

.about .item-card.one {
  background: url(../img/item-card1.jpg) center/cover no-repeat;
}

.about .item-card.two {
  background: url(../img/item-card2.jpg) center/cover no-repeat;
}

.about .item-card.three {
  background: url(../img/item-card3.jpg) center/cover no-repeat;
}

.about .item-card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9)));
  background: linear-gradient(90deg, rgba(252, 227, 138, 0.9), rgba(243, 129, 129, 0.9));
  width: 100%;
  height: 90%;
  -webkit-transition: ease .3s;
  transition: ease .3s;
  opacity: 0;
}

.about .item-card__text {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 10px;
}

.about .item-card:hover {
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  -webkit-box-shadow: 10px 10px #95e1d3;
          box-shadow: 10px 10px #95e1d3;
}

.about .item-card:hover .item-card__wrapper {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .about__card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(215px, 1fr))[2];
        grid-template-columns: repeat(2, minmax(215px, 1fr));
    gap: 15px;
  }
  .about .item-card {
    min-height: 225px;
  }
  .about .item-card.one {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .about .item-card__wrapper {
    background: -webkit-gradient(linear, left top, right top, from(rgba(252, 227, 138, 0.7)), to(rgba(243, 129, 129, 0.7)));
    background: linear-gradient(90deg, rgba(252, 227, 138, 0.7), rgba(243, 129, 129, 0.7));
    opacity: 1;
  }
}

@media screen and (max-width: 480px) {
  .about__card {
    -ms-grid-columns: (minmax(220px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
  .about .item-card.one {
    grid-column: auto;
  }
  .about .item-card__wrapper {
    height: 100%;
  }
}

.facts {
  min-height: 270px;
  background: #95e1d3;
  margin-bottom: 100px;
}

.facts__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[5];
      grid-template-columns: repeat(5, minmax(150px, 1fr));
  -ms-grid-rows: minmax(270px, 1fr);
      grid-template-rows: minmax(270px, 1fr);
  -webkit-column-gap: 1px;
          column-gap: 1px;
}

.facts__item {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-left: 2px solid #b5eae0;
  padding: 10px;
}

.facts__item:last-child {
  border-right: 2px solid #b5eae0;
}

.facts__number {
  font-size: 72px;
  font-weight: 700;
}

.facts__fact {
  font-size: 14px;
  text-transform: uppercase;
}

.works {
  text-align: center;
}

.works__work {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[4];
      grid-template-columns: repeat(4, minmax(150px, 1fr));
}

.works .work {
  min-height: 390px;
  -webkit-box-shadow: #95e1d3;
          box-shadow: #95e1d3;
}

.works .work__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9)));
  background: linear-gradient(90deg, rgba(252, 227, 138, 0.9), rgba(243, 129, 129, 0.9));
  width: 100%;
  height: 100%;
  -webkit-transition: ease .3s;
  transition: ease .3s;
  opacity: 0;
  color: #fff;
}

.works .work__img {
  margin-bottom: 15px;
}

.works .work__name {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.works .work__text {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 15px;
}

.works .work:hover .work__wrapper {
  opacity: 1;
}

.works .work-1 {
  background: url(../img/work-1.jpg) center/cover no-repeat;
}

.works .work-2 {
  background: url(../img/work-2.jpg) center/cover no-repeat;
}

.works .work-3 {
  background: url(../img/work-3.jpg) center/cover no-repeat;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.works .work-4 {
  background: url(../img/work-4.jpg) center/cover no-repeat;
}

.works .work-5 {
  background: url(../img/work-5.jpg) center/cover no-repeat;
}

.works .work-6 {
  background: url(../img/work-6.jpg) center/cover no-repeat;
}

.works .work-7 {
  background: url(../img/work-7.jpg) center/cover no-repeat;
}
