@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;600;700&family=Roboto:ital,wght@0,400;1,300&display=swap");
.header {
  height: 100vh;
  min-height: 1000px;
  background: url(../img/picture.jpg) center/cover no-repeat;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 70px;
}

.navigation a {
  color: #fff;
}

.navigation .logo {
  font-size: 30px;
  font-weight: 700;
}

.navigation .nav {
  text-align: end;
  margin-left: auto;
}

.navigation .nav__link {
  font-size: 14px;
  text-transform: uppercase;
  -webkit-transition: color ease .5s, border-bottom ease .3s;
  transition: color ease .5s, border-bottom ease .3s;
}

.navigation .nav__link:hover {
  color: #fce38a;
  border-bottom: 3px solid #fce38a;
}

.navigation .link {
  padding: 5px;
  margin-left: 2vw;
}

.navigation .link__img {
  -webkit-transition: -webkit-transform ease .5s;
  transition: -webkit-transform ease .5s;
  transition: transform ease .5s;
  transition: transform ease .5s, -webkit-transform ease .5s;
}

.navigation .link__img:hover {
  -webkit-transform: scale(115%);
          transform: scale(115%);
}

.navigation .hamburger-menu {
  display: none;
}

.navigation #menu__toggle {
  opacity: 0;
}

.navigation #menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navigation #menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

.navigation #menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.navigation #menu__toggle:checked ~ .menu__box {
  visibility: visible;
  right: 0;
}

.navigation .menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 22px;
  right: 17px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 50;
}

.navigation .menu__btn > span,
.navigation .menu__btn > span::before,
.navigation .menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 0 2px rgba(243, 129, 129, 0.5);
          box-shadow: 0 0 0 2px rgba(243, 129, 129, 0.5);
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.navigation .menu__btn > span::before {
  content: '';
  top: -8px;
}

.navigation .menu__btn > span::after {
  content: '';
  top: 8px;
}

.navigation .menu__box {
  display: block;
  position: fixed;
  z-index: 1;
  visibility: hidden;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: rgba(252, 227, 138, 0.7);
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.navigation .menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
}

.navigation .menu__item:hover {
  background-color: #f38181;
}

@media screen and (max-width: 768px) {
  .header {
    min-height: 800px;
    padding-bottom: 10px;
  }
  .navigation {
    padding-right: 50px;
  }
  .navigation .nav {
    display: none;
  }
  .navigation .hamburger-menu {
    display: block;
  }
  .navigation .cart {
    margin-left: auto;
  }
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

.intro__text {
  font-family: 'Kaushan Script', cursive;
  font-size: calc(24px + 50 * (100vw / 1200));
  margin-bottom: 2vh;
}

.intro__title {
  font-size: calc(24px + 110 * (100vw / 1200));
  line-height: 90%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 6vh;
  padding: 0 10px;
  padding-bottom: 6vh;
  position: relative;
}

.intro__title::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
}

.intro__btn {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: 3px solid #fff;
  padding: 15px 3em;
  -webkit-transition: background ease .5s, color ease .5s;
  transition: background ease .5s, color ease .5s;
}

.intro__btn:hover {
  background: #fff;
  color: #fce38a;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slider__item {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  width: 100%;
  max-width: calc((100% - 90px) / 4);
  min-width: 138px;
  padding: 25px 0;
  border-top: 3px solid #fff;
  opacity: .7;
  position: relative;
}

.slider__item:hover {
  opacity: 1;
}

.slider__number {
  font-size: 24px;
  font-weight: 700;
}

.slider .active {
  opacity: 1;
}

.slider .active:before {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background: #f38181;
  position: absolute;
  top: -3px;
  left: 0;
}

@media screen and (max-width: 600px) {
  .slider__item {
    max-width: calc((100% - 45px) / 2);
    padding: 10px 0;
  }
  .slider .active::before {
    width: 50px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

body {
  min-width: 320px;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-suptitle {
  font-size: 24px;
  font-family: 'Kaushan Script', cursive;
  margin-bottom: 10px;
}

.section-title {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 40px;
  padding-bottom: 35px;
  position: relative;
}

.section-title::after {
  content: "";
  display: block;
  background: #f08b8b;
  width: 60px;
  height: 3px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: #999999;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 100px;
}

.gradient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9)));
  background: linear-gradient(90deg, rgba(252, 227, 138, 0.9), rgba(243, 129, 129, 0.9));
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transition: ease .3s;
  transition: ease .3s;
  opacity: 0;
}

.about {
  text-align: center;
  padding: 90px 0;
}

.about__card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(225px, 1fr))[3];
      grid-template-columns: repeat(3, minmax(225px, 1fr));
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.about .item-card {
  min-height: 250px;
  -webkit-box-shadow: 0 0 #95e1d3;
          box-shadow: 0 0 #95e1d3;
  -webkit-transition: ease .3s;
  transition: ease .3s;
  position: relative;
}

.about .item-card.one {
  background: url(../img/item-card1.jpg) center/cover no-repeat;
}

.about .item-card.two {
  background: url(../img/item-card2.jpg) center/cover no-repeat;
}

.about .item-card.three {
  background: url(../img/item-card3.jpg) center/cover no-repeat;
}

.about .item-card__text {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 10px;
}

.about .item-card:hover {
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  -webkit-box-shadow: 10px 10px #95e1d3;
          box-shadow: 10px 10px #95e1d3;
}

.about .item-card:hover .gradient {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .gradient {
    background: -webkit-gradient(linear, left top, right top, from(rgba(252, 227, 138, 0.7)), to(rgba(243, 129, 129, 0.7)));
    background: linear-gradient(90deg, rgba(252, 227, 138, 0.7), rgba(243, 129, 129, 0.7));
    opacity: 1;
  }
  .about__card {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(215px, 1fr))[2];
        grid-template-columns: repeat(2, minmax(215px, 1fr));
    gap: 15px;
  }
  .about .item-card {
    min-height: 225px;
  }
  .about .item-card.one {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

@media screen and (max-width: 480px) {
  .about__card {
    -ms-grid-columns: (minmax(220px, 1fr))[auto-fill];
        grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
  .about .item-card.one {
    grid-column: auto;
  }
}

.facts {
  background: #95e1d3;
}

.facts__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(145px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
  -webkit-column-gap: 1px;
          column-gap: 1px;
}

.facts__item {
  min-height: 270px;
  color: #fff;
  text-align: center;
  border-left: 2px solid #b5eae0;
  padding: 10px;
}

.facts__item:last-child {
  border-right: 2px solid #b5eae0;
}

.facts__number {
  font-size: 72px;
  font-weight: 700;
  margin-top: 70px;
}

.facts__fact {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 70px;
}

@media screen and (max-width: 768px) {
  .facts {
    padding: 15px 0;
  }
  .facts__wrapper {
    -ms-grid-columns: minmax(145px, 1fr);
        grid-template-columns: minmax(145px, 1fr);
  }
  .facts__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-height: 125px;
    border: 2px solid #b5eae0;
    border-bottom: none;
  }
  .facts__item:last-child {
    border-bottom: 2px solid #b5eae0;
  }
  .facts__number {
    font-size: 52px;
    margin-top: 0;
  }
  .facts__fact {
    margin-bottom: 0;
  }
}

.service {
  text-align: center;
  padding: 100px 0;
}

.service__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(225px, 1fr))[3];
      grid-template-columns: repeat(3, minmax(225px, 1fr));
  row-gap: 2px;
  background: #e5e5e5;
}

.service__item {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fff;
  min-height: 125px;
  padding: 30px 25px;
  position: relative;
}

.service__item .text {
  margin-left: 70px;
  margin-bottom: 0;
}

.service__title {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 70px;
  margin-bottom: 20px;
}

.service__img {
  position: absolute;
  top: 32px;
  left: 25px;
}

@media screen and (max-width: 768px) {
  .service__wrapper {
    -ms-grid-columns: (minmax(225px, 1fr))[2];
        grid-template-columns: repeat(2, minmax(225px, 1fr));
  }
  .service__item {
    padding: 30px 10px;
  }
}

@media screen and (max-width: 480px) {
  .service__wrapper {
    -ms-grid-columns: minmax(225px, 1fr);
        grid-template-columns: minmax(225px, 1fr);
  }
}

.devices {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8))), url("../img/Layer 45.jpg") center/cover no-repeat;
  background: linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../img/Layer 45.jpg") center/cover no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 850px;
  padding-top: 100px;
}

.devices__img {
  margin-top: auto;
  position: relative;
}

.devices__tablet {
  width: 100%;
  max-width: 570px;
  height: auto;
}

.devices__phone {
  max-width: 255px;
  position: absolute;
  bottom: -75px;
  right: -95px;
}

@media screen and (max-width: 768px) {
  .devices {
    min-height: 600px;
  }
  .devices__phone {
    display: none;
  }
}

.service-2 {
  text-align: center;
  padding: 100px 0;
}

.service-2__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.service-2__item {
  width: 100%;
  max-width: calc((100% - 30px) / 2);
  min-height: 380px;
  margin-bottom: 30px;
}

.service-2__img {
  background: url(../img/Rectangle8.jpg) center/cover no-repeat;
}

.service-2__accordion {
  background: #e5e5e5;
}

@media screen and (max-width: 768px) {
  .service-2__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .service-2__item {
    width: 100%;
    max-width: 100%;
  }
}

.quote {
  background: #f8f8f8;
  padding: 70px 0;
}

.quote__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 290px;
}

.quote__slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1000px;
  margin: 0 40px;
}

.quote__img {
  max-width: 150px;
  height: 150px;
  margin-right: 50px;
}

.quote__text {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 36px;
  font-style: italic;
  font-weight: 300;
  color: #999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quote__name {
  color: #000;
  font-family: 'Kaushan Script', cursive;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.quote__name::before {
  content: "";
  display: inline-block;
  background: #f08b8b;
  width: 60px;
  height: 3px;
  margin-right: 15px;
}

.quote .arrow {
  cursor: pointer;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .quote__slider-item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .quote__img {
    max-width: 125px;
    height: 125px;
    margin-right: 0;
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 480px) {
  .quote__img {
    max-width: 100px;
    height: 100px;
  }
  .quote__text {
    font-size: 16px;
    line-height: 24px;
  }
}

.team {
  text-align: center;
  padding: 100px 0;
}

.team__card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(225px, 1fr))[3];
      grid-template-columns: repeat(3, minmax(225px, 1fr));
  gap: 30px;
}

.team .gradient {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.team .name {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.team .position {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #999999;
}

.team .item-card {
  min-height: 470px;
  -webkit-box-shadow: 0 0 #95e1d3;
          box-shadow: 0 0 #95e1d3;
  -webkit-transition: ease .3s;
  transition: ease .3s;
  position: relative;
}

.team .item-card.one {
  background: url(../img/Layer16.jpg) top/cover no-repeat;
}

.team .item-card.two {
  background: url(../img/Layer19.jpg) top/cover no-repeat;
}

.team .item-card.three {
  background: url(../img/Layer18.jpg) top/cover no-repeat;
}

.team .item-card a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 55px;
  height: 55px;
  background: #fce38a;
}

.team .item-card a:hover {
  background: #f08b8b;
}

.team .item-card__img {
  height: 26px;
}

.team .item-card:hover {
  -webkit-transform: translate(-10px, -10px);
          transform: translate(-10px, -10px);
  -webkit-box-shadow: 10px 10px #95e1d3;
          box-shadow: 10px 10px #95e1d3;
}

.team .item-card:hover .gradient {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .team__card {
    -ms-grid-columns: minmax(220px, 1fr);
        grid-template-columns: minmax(220px, 1fr);
  }
  .team .item-card {
    min-height: 400px;
  }
  .team .name-1 {
    grid-column: auto;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .team .name-2 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
}

.logos {
  background: #f8f8f8;
  min-height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logos__img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .logos {
    min-height: 200px;
  }
}

@media screen and (max-width: 480px) {
  .logos {
    min-height: 150px;
  }
}

.works {
  padding-top: 100px;
  text-align: center;
}

.works__work {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[4];
      grid-template-columns: repeat(4, minmax(150px, 1fr));
}

.works .work {
  min-height: 390px;
  -webkit-box-shadow: #95e1d3;
          box-shadow: #95e1d3;
}

.works .work__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(rgba(252, 227, 138, 0.9)), to(rgba(243, 129, 129, 0.9)));
  background: linear-gradient(90deg, rgba(252, 227, 138, 0.9), rgba(243, 129, 129, 0.9));
  width: 100%;
  height: 100%;
  -webkit-transition: ease .3s;
  transition: ease .3s;
  opacity: 0;
  color: #fff;
}

.works .work__img {
  margin-bottom: 15px;
}

.works .work__name {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.works .work__text {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 15px;
}

.works .work:hover .work__wrapper {
  opacity: 1;
}

.works .work-1 {
  background: url(../img/work-1.jpg) center/cover no-repeat;
}

.works .work-2 {
  background: url(../img/work-2.jpg) center/cover no-repeat;
}

.works .work-3 {
  background: url(../img/work-3.jpg) center/cover no-repeat;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.works .work-4 {
  background: url(../img/work-4.jpg) center/cover no-repeat;
}

.works .work-5 {
  background: url(../img/work-5.jpg) center/cover no-repeat;
}

.works .work-6 {
  background: url(../img/work-6.jpg) center/cover no-repeat;
}

.works .work-7 {
  background: url(../img/work-7.jpg) center/cover no-repeat;
}

@media screen and (max-width: 1024px) {
  .works__work {
    -ms-grid-columns: (minmax(150px, 1fr))[3];
        grid-template-columns: repeat(3, minmax(150px, 1fr));
  }
  .works .work-5 {
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }
}

@media screen and (max-width: 767px) {
  .works__work {
    -ms-grid-columns: (minmax(150px, 1fr))[2];
        grid-template-columns: repeat(2, minmax(150px, 1fr));
  }
  .works .work-3 {
    grid-column: auto;
    grid-row: auto;
  }
  .works .work-5 {
    grid-column: auto;
    grid-row: auto;
  }
  .works .work-7 {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

@media screen and (max-width: 480px) {
  .works__work {
    -ms-grid-columns: minmax(150px, 1fr);
        grid-template-columns: minmax(150px, 1fr);
  }
  .works .work-7 {
    grid-column: auto;
  }
}

.quote-2 {
  background: #fff;
}

.map {
  position: relative;
  min-height: 200px;
}

.map #googlemaps {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.map .block-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.8)));
  background: linear-gradient(to top, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
  z-index: 1;
  color: white;
}

.map .block-text img {
  margin-bottom: 10px;
}

.map .block-text .section-title {
  font-size: 24px;
  color: #f08b8b;
  padding-bottom: 20px;
  margin-bottom: 0;
}

.map .block-text:hover {
  display: none;
}

.footer {
  background: #f8f8f8;
  padding-top: 70px;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 40px;
}

.footer__item {
  max-width: calc((1230px - 60px) / 2);
  min-height: 360px;
  margin-bottom: 30px;
}

.footer__one {
  max-width: 460px;
}

.footer__logo {
  color: #cccccc;
  font-size: 46px;
  margin-bottom: 35px;
}

.footer__text {
  font-family: 'Roboto', sans-serif;
  color: #999999;
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 45px;
}

.footer__title {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 40px;
}

.footer__item--blogs {
  max-width: 350px;
}

.footer .blogs-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .blogs-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .blogs-item .footer__title {
  font-size: 12px;
  font-weight: 600;
  color: #000;
  margin-bottom: 0;
}

.footer .blogs-item .footer__title span {
  font-family: 'Roboto', sans-serif;
  display: block;
  font-style: italic;
  font-size: 13px;
  font-weight: 300;
  color: #999999;
  margin-top: 10px;
}

.footer .blogs-item:not(:last-child) {
  margin-bottom: 30px;
}

.footer .blogs-item img {
  margin-right: 20px;
}

.footer .folowers {
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 20px;
  border-bottom: 2px solid #e5e5e5;
  margin-bottom: 15px;
}

.footer .folowers .size {
  font-weight: 700;
  font-size: 20px;
}

.footer .social {
  color: #999999;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.footer .social a {
  margin-left: 5px;
  padding: 5px;
}

.footer .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .form ::-webkit-input-placeholder {
  color: #e7e7e7;
}

.footer .form .input-mail {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-style: italic;
  color: #999999;
  padding: 15px 10px;
  outline: none;
  border: 2px solid #e7e7e7;
  width: 100%;
  max-width: 230px;
}

.footer .form .input-btn {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  outline: none;
  border: none;
  background: #95e1d3;
  padding: 9px 2em;
  border: 2px solid #e7e7e7;
  cursor: pointer;
  border-radius: none;
}

.footer__item--inst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 270px;
}

.footer .inst-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  gap: 5px;
  margin-bottom: 15px;
}

.footer__bottom {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  padding: 25px 0;
  border-top: 2px solid #e5e5e5;
}

.footer__bottom a {
  color: #f08b8b;
}

@media screen and (max-width: 1110px) {
  .footer__wrapper {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }
  .footer__one {
    max-width: 100%;
  }
  .footer__item--blogs {
    max-width: 48%;
    min-width: 350px;
  }
}

@media screen and (max-width: 645px) {
  .footer__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__one {
    max-width: 100%;
  }
  .footer__item--blogs {
    max-width: 100%;
    min-width: 300px;
  }
  .footer__item--inst {
    max-width: 100%;
  }
}
